<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Skill">
        <div *ngIf = "barChartData && barChartLabels" class="chart-wrapper">
            <canvas baseChart 
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType">
          </canvas>
        </div>
    </mat-tab>
    <mat-tab label="Location">
      <div *ngIf = "doughnutChartData && doughnutChartLabels" class="chart-wrapper">
        <canvas baseChart 
        [data]="doughnutChartData"
        [labels]="doughnutChartLabels"
        [chartType]="doughnutChartType">
      </canvas>
    </div>
    </mat-tab>
    <mat-tab label="Team">
      <div *ngIf = "pieChartData && pieChartLabels" class="chart-wrapper">
        <canvas baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
    </div>
    </mat-tab>
  </mat-tab-group>

  <div>
    <button mat-raised-button color="primary" class = "myButton" (click) = "home()">Home</button>
  </div>


