<div>
  <div class = "buttons">
    <div *ngIf="ifAdmin()">
      <button mat-raised-button color="primary" class = "myButton" (click) = "addOpp()">Add Post</button>
    </div>

    <div>
      <button mat-raised-button color="primary" class = "myButton" (click) = "trends()">View Trends</button>
    </div>
  </div>
</div>

<div *ngIf="ifAdmin()">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput [formControl] = "filterFormControl" (keyup)="applyFilter($event)" placeholder="Type Anything">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
    <ng-container matColumnDef="idOpportunity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.opportunity.idOpportunity}} </td>
    </ng-container>

    <ng-container matColumnDef="idStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{statuses[element.opportunity.idStatus]}} </td>
    </ng-container>

    <ng-container matColumnDef="idTeam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
      <td mat-cell *matCellDef="let element"> {{teams[element.opportunity.idTeam]}} </td>
    </ng-container>

    <ng-container matColumnDef="idLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let element"> {{locations[element.opportunity.idLocation]}} </td>
    </ng-container>

    <ng-container matColumnDef="jobDesc">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.opportunity.jobDesc}} </td>
    </ng-container>

    <ng-container matColumnDef="hiringManager">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager </th>
      <td mat-cell *matCellDef="let element"> {{users[element.opportunity.hiringManager]}} </td>
    </ng-container>

    <ng-container matColumnDef="idPosition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
      <td mat-cell *matCellDef="let element"> {{positions[element.opportunity.idPosition]}} </td>
    </ng-container>

    <ng-container matColumnDef="skills">
      <th mat-header-cell *matHeaderCellDef> Skills </th>
      <td mat-cell *matCellDef="let element"> {{skillsToString(element)}}</td>
    </ng-container>

    
    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
      <td mat-cell *matCellDef="let element"> {{users[element.opportunity.createdBy]}} </td>
    </ng-container>
  
    <ng-container matColumnDef="createdTS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
      <td mat-cell *matCellDef="let element"> {{element.opportunity.createdTS | date :"MM/dd/yy"}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last UpdatedBy </th>
      <td mat-cell *matCellDef="let element"> {{users[element.opportunity.updatedBy]}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedTS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last UpdatedOn </th>
      <td mat-cell *matCellDef="let element"> {{element.opportunity.updatedTS | date :"MM/dd/yy"}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class = "myButton" mat-raised-button (click) = "editOpp(element.opportunity.idOpportunity)">Edit</button> </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <button class = "myButton" mat-raised-button (click) = "deleteOpp(element.opportunity.idOpportunity)">Delete</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<div *ngIf="!ifAdmin()">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Type Anything">
  </mat-form-field>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
    <ng-container matColumnDef="idOpportunity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.opportunity.idOpportunity}} </td>
    </ng-container>

    <ng-container matColumnDef="idStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element"> {{statuses[element.opportunity.idStatus]}} </td>
    </ng-container>

    <ng-container matColumnDef="idTeam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Team </th>
      <td mat-cell *matCellDef="let element"> {{teams[element.opportunity.idTeam]}} </td>
    </ng-container>

    <ng-container matColumnDef="idLocation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Location </th>
      <td mat-cell *matCellDef="let element"> {{locations[element.opportunity.idLocation]}} </td>
    </ng-container>

    <ng-container matColumnDef="jobDesc">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.opportunity.jobDesc}} </td>
    </ng-container>

    <ng-container matColumnDef="hiringManager">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Manager </th>
      <td mat-cell *matCellDef="let element"> {{users[element.opportunity.hiringManager]}} </td>
    </ng-container>

    <ng-container matColumnDef="idPosition">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
      <td mat-cell *matCellDef="let element"> {{positions[element.opportunity.idPosition]}} </td>
    </ng-container>

    <ng-container matColumnDef="skills">
      <th mat-header-cell *matHeaderCellDef> Skills </th>
      <td mat-cell *matCellDef="let element"> {{skillsToString(element)}}</td>
    </ng-container>

    <ng-container matColumnDef="createdBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
      <td mat-cell *matCellDef="let element"> {{users[element.opportunity.createdBy]}} </td>
    </ng-container>
  
    <ng-container matColumnDef="createdTS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
      <td mat-cell *matCellDef="let element"> {{element.opportunity.createdTS | date :"MM/dd/yy"}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedBy">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last UpdatedBy </th>
      <td mat-cell *matCellDef="let element"> {{users[element.opportunity.updatedBy]}} </td>
    </ng-container>

    <ng-container matColumnDef="updatedTS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Last UpdatedOn </th>
      <td mat-cell *matCellDef="let element"> {{element.opportunity.updatedTS | date :"MM/dd/yy"}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"></ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"></ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
      